@page "/fetchdata"
@using Blazor.Shared
@using Microsoft.AspNetCore.SignalR.Client;


<PageTitle>Weather forecast</PageTitle>


            @if (flag)
            {
                <h1>  @message </h1>

            } else
            {
           
                <h1>  loading </h1>
            }


@code {

    string message;
    bool flag = false;
    HubConnection connection;
    protected override async Task OnInitializedAsync()
    {
        connection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7291/test")
            .Build();

        await SendTest(connection);
    }


    public async Task SendTest(HubConnection connection2)
    {
         

        connection2.On<string>("GetTestData", msg =>
        {
            message = msg;
            flag = true;
        });

        await connection2.StartAsync();
        await connection2.InvokeAsync("SendTestData");
    }
}
